.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/img/fundo-cadastro.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 107, 73, 0.4);
  z-index: 1; /* Garantindo que o fundo esteja abaixo do conteúdo */
}

.form {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff; /* Mantendo a cor branca para o título */
  text-align: center;
  position: relative; /* Garantindo que o título esteja na frente do fundo */
  z-index: 3; /* Garantindo que o título esteja acima do fundo */
}

.description {
  font-size: 14px;
  margin-bottom: 20px;
  color: #333;
  width: 100%;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}

.inputEmail {
  padding-bottom: 10px;
}

.label {
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #000000;
  padding: 10px;
}

.input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease; /* Suaviza a transição de borda e sombra */
  background-color: #f9f9f9; /* Cor de fundo suave */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.input:focus {
  border-color: #09BC8A;
  background-color: #eafaf2; /* Fundo mais claro ao focar */
  box-shadow: 0 0 10px rgba(9, 188, 138, 0.6); /* Sombra mais intensa ao focar */
}

.input1 {
  padding-bottom: 20px;
}

.button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(to right, #09BC8A, #0C1B33);
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.buttonDiv {
  padding-top: 10px;
}

.button:hover {
  opacity: 0.9;
}

.message {
  text-align: center;
  margin-top: 15px;
}

.message-success {
  color: green;
}

.message-error {
  color: red;
}

.spinner {
  border: 2px solid #ccc;
  border-top: 2px solid white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.8s linear infinite;
}
.inputGroup {
  position: relative;
  margin-bottom: 1.5rem; /* Ajuste conforme necessário */
}

.input {
  width: 100%;
  padding: 10px 35px 10px 15px; /* Deixe um espaço à direita para o ícone */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.eyeIcon {
  position: absolute;
  right: 10px; /* Posiciona o ícone no canto direito */
  top: 30%;
  cursor: pointer;
  font-size: 20px; /* Ajuste o tamanho do ícone se necessário */
  transition: transform 0.3s ease-in-out;
}

.rotateIcon {
  transform: rotate(180deg);
}



@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}


.rotateIcon {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
